<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<div style="padding: 20px;">
        <h1 style="color: blue"></h1>
        <h3></h3>
        <nav>
          <a routerLink="echec" class="btn btn-warning" role="button" routerLinkActive="active">list Echec</a>&nbsp;
          <a routerLink="Rapport" class="btn btn-warning" role="button" routerLinkActive="active">Tirer Rapport</a>
          
        </nav>
        <router-outlet></router-outlet>
      </div>