.highlight{
    
   
    background-color: pink !important; 
    font-weight: bold;
    
  }

  .highlightt{
    
   
    background-color: green !important; 
    font-weight: bold;
  }
  .highlighttt{
    
   
    background-color: pink !important; 
    font-weight: bold;
    
  }
  .highlightttt{
    
   
    background-color: green !important; 
    font-weight: bold;
  }
  

  
  .highlighted{
    
   
    background-color: pink !important; 
    font-weight: bold;
    
  }
  .ng-progress{

    background-color:black !important;  
    
    }